.App {
  text-align: center;
}

body {
  transition: 0.6s;
}
*{
 outline: none; 

}

.bn632-hover {

  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 10px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 98% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(to right,
      #25aae1,
      #538beb,
      #04befe,
      #3f86ed);
}

.bn632-hover.bn20 {
  background-image: linear-gradient(to right,
      #667eea,
      #764ba2,
      #6b8dd6,
      #8e37d7);
}

.bn632-hover.bn24 {
  background-image: linear-gradient(to right,
      #6253e1,
      #852d91,
      #4f4dc7,
      #6007a8);

}

.ameda {
  width: 350px;
  
}
::-webkit-scrollbar {
  width: 10px;
  height: 0px;
 }
 
::-webkit-scrollbar-track {
  border: 7px solid #232943;
  box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  }
 
::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #9e4673, #3d4a59);
  border-radius: 1rem;
}
 
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(270deg, #9e4673, #3d4a59, #9e4673);
}
 
/* for Firefox */
 html {scrollbar-color: #9e4673 #3d4a59;} 

@media (max-width:450px) {
  .ameda {
    width: 96% !important;
  }
}